html, body{	
	width: 100%;
	height :100%;
	margin: 0;
	font-family: sans-serif;
}

#main{	
	width: 100%;
	height :100%;
}

#menu{	
	width: 300px;
	height :100%;
	float: left;
	overflow: hidden;
	border-right: 1px solid #aaaaaa;
}

#errorBox{
	color:red;
}

#content{
	overflow:hidden;
	height :100%;
	position: relative;
}

#userInfo{
	width: 100%;
	text-align: center;
	overflow: auto;
}

#userInfo p{
	margin: 1em;
}


#content .tab{
	height: 100%;
	right: 0;
	left: 0;
	background-color: #ffffff;
	position: absolute;
	padding: 20px;
}

#content #tab-1.tab{
	padding: 0;
}

#map_canvas{
	height :100%;
	width: 100%
}

#menu label {
	display: block;
}

#menu input {
	float: left;
	margin-top: 7px;
	margin-right: 7px;
}

.edit_btn, .delete_btn{
	margin-left: 15px;
	cursor: pointer;
}

#user_edit .form_row{
	width: 100%;
}

#user_edit .form_row label{
	width: 200px;
	display: inline-block;
}

#add_user_btn{
	margin-top:20px;
}

#spot_edit .form_row{
	width: 100%;
}

#spot_edit .form_row label{
	width: 200px;
	display: inline-block;
}


#add_spot_btn{
	margin-top:20px;
}

.link{
	cursor: pointer;
}